 {% extends 'main/loyaout.html' %}

{% block titleBlock %} {{ item.name }} {% endblock %}
    {% block jsBlock %}
      <script>

      </script>
    {% endblock %}
{% block bodyBlock %}
 <div class="aboutItemDiv">
     <h1>{{ item.name }}</h1>
     <div class="blockForItemInfo">
         <img class="" src="{{ item.pic.url }}"  alt="{{ item.name }}" />
     </div>
    <div class="blockForItemInfo" style="text-align: left">
        {% if item.forChildren == True %}
            <p class="defTextWithRedStroke" style="font-weight: bold">
                Детское
            </p>
        {% endif %}
        <p class="defTextWithRedStroke" style="font-weight: bold">
            Для
            {% if item.forMales == True %}
            мужчин
            {% else %}
            женщин
            {% endif %}<br>
        </p>
        <p class="defTextWithRedStroke">Артикул товара: {{ item.id }}</p>

        <p class="defTextWithRedStroke">
            {{ item.description }}
        </p>
        <p style="font-size: 20px; font-weight: bold">
            Оценка:
            {% for i in stars %}
                {% if i <= item.mark %}
                    <span style="color: gold">&#9733;</span> <!-- Звезда в формате HTML entity -->
                {% else %}
                     <span style="color: gold">&#9734;</span> <!-- Пустая звезда в формате HTML entity -->
                {% endif %}
            {% endfor %}
            {{ item.mark|floatformat:2 }}
        </p>

    </div>
     <div class="divForPrice">
     {% if item.discount != 0 %}
         <span class="forDefaultPriceCrossed">
            {{ item.price|floatformat:2 }}₽
        </span>
         <span class="divForDiscount">
            -{{ item.discount }}%
        </span>

         <br>
        <span class="divForDiscount" style="margin-top: 10px;">
            {{ item.discountPrice|floatformat:2 }}₽
        </span>

     {% else %}
        {{ item.price }}₽
     {% endif %}
     </div>
    {% if request.user.is_authenticated %}
        <form method="post" action="{% url 'addToCart' %}" style="display: inline-block">
            {% csrf_token %}
            <input type="hidden" name="item_id" id="item_id1" value="{{ item.id }}">
            <button  title="В избранные" style="width: 200px;">Добавить в корзину</button>
        </form>



         <form method="post" action="{% url 'addToFavorites' %}" style="display: inline-block">
            {% csrf_token %}
             <input type="hidden" name="item_id" id="item_id2" value="{{ item.id }}">
            {% if isFavorite %}

                <button class="heartButtonActive" title="В избранные"><i class="fas fa-heart"></i></button>
            {% else %}
                <button class="heartButtonPassive" title="В избранные"><i class="fas fa-heart"></i></button>
            {% endif %}
         </form>
    {% endif %}

    {% if request.user.is_authenticated %}
        <div class="reviewInputBlockk">
            <form action="{% url 'sendTheReview' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="item_id" id="item_id3" value="{{ item.id }}">
                <div class="container_for_reviews">
                    <input type="text" class="defaultInput" name="textOfRev" style="width: 700px; margin-top: 50px;" placeholder="Введите отзыв" required>
                </div>
                <div class="container_for_reviews">
                    <select name="mark">
                        <option value="5">5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                    </select>
                </div>
                <div class="container_for_reviews">
                    <button type="submit">
                        Отправить
                    </button>
                </div>
            </form>

        </div>
    {% endif %}



     <div class="item_review_block">
         {% for review in reviews %}
         <div class="container_for_reviews">
            <div class="reviewBlock" style="width: 700px; text-align: left;">
                <p><span>{{ review.user.username }}</span> {{ review.item.name }}</p>
                <p><span>
                Оценка: {{ review.mark }}
                </span>
                {% for i in stars %}
                    {% if i <= review.mark %}
                    <span style="color: gold">&#9733;</span>
                    {% else %}
                    <span style="color: gold">&#9734;</span>
                    {% endif %}
                {% endfor %}
                </p>
                <p>{{ review.text }}</p>
            </div>
         </div>
         {% endfor %}
     </div>
 </div>



{% endblock %}