 {% extends 'main/loyaout.html' %}

{% block titleBlock %} Каталог {% endblock %}
    {% block jsBlock %}
      <script>

      </script>
    {% endblock %}
{% block bodyBlock %}
<h1 class="h1ForTitles">Каталог:</h1>

<div class="searchFilter">
    <h2>Фильтр</h2>
    <form method="get">
        {% csrf_token %}
        <div class="filter-item">
            <input type="checkbox" id="childrenCheckbox" name="forChildren">
            <label for="childrenCheckbox">Для детей</label>
        </div>
        <div class="filter-item">
            <input type="checkbox" id="maleRadio" name="forMales">
            <label for="maleRadio">Для мужчин</label>
        </div>
        <div class="filter-item">
            <input type="checkbox" id="femaleRadio" name="forFemales">
            <label for="femaleRadio">Для женщин</label>
        </div>
        <div class="filter-item">
            <input type="checkbox" id="discountCheckbox" name="discount">
            <label for="discountCheckbox">Со скидкой</label>
        </div>
        <div class="filter-item">
            <label for="priceFromInput">Цена от:</label>
            <input type="number" id="priceFromInput" name="priceFrom" value="0" required min="0" max="10000">
        </div>
        <div class="filter-item">
            <label for="priceToInput">Цена до:</label>
            <input type="number" id="priceToInput" name="priceTo" value="9999" required min="0" max="10000">
        </div>

        <button style="width: 160px" type="submit">Применить</button>
    </form>
</div>
<div class="productShow">

{% for item in items %}
    <form method="post" style="display: inline-block; margin-right: 16px; margin-bottom: 20px;" action="{% url 'addToCart' %}">
        {% csrf_token %}
        <div>
            <div class="card">
              <div class="card__top">
                <a href="{% url 'aboutItem' item.id %}" class="card__image">
                  <img
                    src="{{ item.pic.url }}"
                    alt="{{ item.name }}"
                  />
                </a>
                  {% if item.discount != 0 %}
                    <div class="card__label">-{{ item.discount }}%</div>
                  {% endif %}
              </div>
              <div class="card__bottom">
                <div class="card__prices">
                    <div class="card__price card__price--discount">
                      {{ item.discountPrice }}
                    </div>
                  <div class="card__price card__price--common">{{ item.price }}</div>
                </div>
                <a href="{% url 'aboutItem' item.id %}" class="">
                    {% if item.description|length > 50 %}
                        {{ item.description|slice:":50" }}...
                    {% else %}
                        {{ item.description }}
                    {% endif %}
                </a>

                <input type="hidden" value="{{ item.id }}" name="item_id" id="2{{ item.id }}">
                <button class="" type="submit">В корзину</button>

              </div>
            </div>
        </div>
    </form>
{% endfor %}

</div>
{% if items.has_other_pages %}
    <div class="pagination">
        <span class="step-links">
            {% if items.has_previous %}
                <a href="?page=1">Первая</a>
                <a href="?page={{ items.previous_page_number }}"><i class="fas fa-backward"></i></a>
            {% endif %}
            <span class="current">
                {{ items.number }} из {{ items.paginator.num_pages }}.
            </span>
            {% if items.has_next %}
                <a href="?page={{ items.next_page_number }}"><i class="fas fa-forward"></i></a>
            {% endif %}
        </span>
    </div>
{% endif %}


{% endblock %}