 {% extends 'main/loyaout.html' %}

{% block titleBlock %} Главная страница {% endblock %}
    {% block jsBlock %}
      <script>

      </script>
    {% endblock %}
{% block bodyBlock %}
 <div class="productShow">
    <div class="card">
      <div class="card__top">
        <a href="#" class="card__image">
          <img
            src="http://via.placeholder.com/600x606/"
            alt="Apple IPhone 14 PRO Max Gold"
          />
        </a>
        <div class="card__label">-10%</div>
      </div>
      <div class="card__bottom">
        <div class="card__prices">
          <div class="card__price card__price--discount">135 000</div>
          <div class="card__price card__price--common">150 000</div>
        </div>
        <a href="#" class="card__title">
          Смартфон Apple IPhone 14 Pro Max 256Gb, золотой
        </a>
        <button class="card__add">В корзину</button>
      </div>
    </div>

 </div>




{% endblock %}