
 {% extends 'main/loyaout.html' %}

{% block titleBlock %} Клиентская карточка {% endblock %}
    {% block jsBlock %}
      <script>

      </script>
    {% endblock %}
{% block bodyBlock %}

<div>
    <h1 class="h1ForTitles">Программа лояльности - Карты постоянного клиента</h1>
    <p class="defTextWithRedStroke">
        Дорогие наши клиенты, с радостью представляем вам нашу новую программу лояльности – Карта Постоянного Клиента! Мы хотим отблагодарить вас за вашу верность и предоставить уникальную возможность экономить на ваших покупках. С этой картой вы становитесь частью особого клуба наших постоянных клиентов, где каждая ваша покупка приносит вам все больше выгоды!
    </p>
    <p style="text-align: center; margin: 30px auto;">
        <img class="clientCardPicture" src="" alt="Карта постоянного клиента">
    </p>
    <p class="defTextWithRedStroke">
        Карта Постоянного Клиента – это особый способ поблагодарить вас за то, что вы выбираете наш онлайн магазин для ваших покупок. Мы ценим вашу преданность и стремимся сделать ваше покупательское путешествие еще более приятным и выгодным.
    </p>
    <p class="defTextWithRedStroke">
         Как это работает? Очень просто! Каждый раз, когда вы совершаете покупку в нашем магазине и предъявляете свою Карту Постоянного Клиента, вы автоматически начисляете бонусные баллы. С ними у вас открываются все больше возможностей для экономии.
    </p>
    <p class="defTextWithRedStroke">
        Система накопительной скидки основана на простом принципе – чем больше покупок вы совершаете, тем выше уровень вашей скидки. Вам доступны следующие уровни скидок:
    </p>

    <div class="loyalty-card">

        <ul class="loyalty-levels">
            <li class="bronze-level">
                <strong>Бронзовый уровень (от 1% скидки):</strong>
                Вы получаете этот уровень автоматически после получения карты. Он действует сразу и приносит вам
                первую скидку!
            </li>
            <li class="silver-level">
                <strong>Серебряный уровень (от 3% скидки):</strong>
                Как только вы совершите 5 покупок на сумму не менее 200 рублей, ваша скидка повышается до 3%.
                Ваши бонусные баллы продолжают расти!
            </li>
            <li class="gold-level">
                <strong>Золотой уровень (от 5% скидки):</strong>
                При совершении 10 покупок на сумму не менее 500 рублей вы переходите на Золотой уровень скидки 5%.
                Это действительно выгодно!
            </li>
            <li class="platinum-level">
                <strong>Платиновый уровень (от 7% скидки):</strong>
                Если вы совершите 20 покупок на сумму не менее 1000 рублей, вы достигнете Платинового уровня со
                скидкой 7%. Ваши бонусные баллы растут еще быстрее!
            </li>
            <li class="diamond-level">
                <strong>Бриллиантовый уровень (от 10% скидки):</strong>
                Наивысший уровень скидки! Для его достижения вам необходимо совершить 50 покупок на сумму не менее 2000
                рублей. На этом уровне вы получаете невероятные 10% скидки на все покупки!
            </li>
        </ul>
    </div>

    <p class="defTextWithRedStroke">
        Не упустите возможность сэкономить на каждой покупке и участвовать в особых акциях и предложениях, доступных исключительно для участников нашей программы лояльности. Карта Постоянного Клиента действует бессрочно, так что вы можете наслаждаться ее преимуществами долгие годы!
    </p>
    <p class="defTextWithRedStroke">
        Присоединяйтесь к нам и становитесь частью нашего дружелюбного и выгодного сообщества постоянных клиентов! С Картой Постоянного Клиента покупки становятся еще более приятными, а экономия – еще заметнее. Спасибо, что выбираете наш магазин!
    </p>

</div>





{% endblock %}