
 {% extends 'main/loyaout.html' %}

{% block titleBlock %} Гарантийные обязательства {% endblock %}
    {% block jsBlock %}
      <script>

      </script>
    {% endblock %}
{% block bodyBlock %}

<div class="garantsBlock">
    <h1 class="h1ForTitles">Гарантийные обязательства:</h1>
    <p class="defTextWithRedStroke">
        Дорогие клиенты!
        Мы, команда сайта по продаже одежды, хотим обеспечить вас уверенностью и комфортом при каждой покупке. Приобретая товары у нас, вы можете быть уверены в высоком качестве нашей продукции и надежности наших услуг. Чтобы подтвердить наше обязательство перед вами, предоставляем следующие гарантии:
    </p>

        <section>
            <h3>1. Гарантия качества</h3>
            <p class="defTextWithRedStroke">Мы гарантируем, что каждый предмет одежды, предлагаемый на нашем сайте, прошел строгий контроль качества. Мы работаем с проверенными поставщиками и производителями, чтобы предложить вам товары, которые отвечают самым высоким стандартам.</p>
        </section>

        <section>
            <h3>2. Гарантия соответствия изображению</h3>
            <p class="defTextWithRedStroke">Мы прилагаем все усилия, чтобы предоставить вам наиболее точные изображения продукции, чтобы вы могли четко видеть, что приобретаете. В случае, если товар не соответствует изображению на сайте, мы гарантируем полный возврат средств или обмен на аналогичный товар.</p>
        </section>

        <section>
            <h3>3. Гарантия возврата и обмена</h3>
            <p class="defTextWithRedStroke">Мы стремимся обеспечить вашу полную удовлетворенность покупкой. Если по какой-либо причине вы не удовлетворены товаром, вы можете вернуть его в течение 30 дней с момента получения. Мы с радостью предоставим полный возврат стоимости товара или обменяем его на другой, по вашему выбору.</p>
        </section>

        <section>
            <h3>4. Гарантия безопасной доставки</h3>
            <p class="defTextWithRedStroke">Мы понимаем, насколько важна безопасная и своевременная доставка. Мы сотрудничаем с надежными логистическими партнерами, чтобы ваша одежда прибыла в сохранности и в срок. В случае утери или повреждения товара в процессе доставки, мы обязуемся возместить вам полную стоимость или отправить новый товар бесплатно.</p>
        </section>

        <section>
            <h3>5. Гарантия конфиденциальности данных</h3>
            <p class="defTextWithRedStroke">Ваша конфиденциальность и безопасность данных наша первоочередная забота. Мы придерживаемся строгих политик и технических мер для защиты ваших личных данных и информации о платежах.</p>
        </section>

        <p class="defTextWithRedStroke">Спасибо, что выбрали наш сайт для покупки одежды. Мы гарантируем, что ваш опыт покупок у нас будет приятным и беззаботным.</p>

</div>





{% endblock %}