
 {% extends 'main/loyaout.html' %}

{% block titleBlock %} Подарочные карты {% endblock %}
    {% block jsBlock %}
      <script>

      </script>
    {% endblock %}
{% block bodyBlock %}

<div>
    <h1 class="h1ForTitles">Подарочные карты</h1>
    <p class="defTextWithRedStroke">
        Подарочные карты нашего магазина - идеальное решение для тех, кто хочет сделать приятный подарок своим близким или друзьям, но сомневается в выборе. Подарочные карты Чтуки 3 - это билет в мир изысканных товаров, уникальных аксессуаров и незабываемых покупательских впечатлений. Дарите свободу выбора и возможность приобрести желанные вещи, которые оставят светлые воспоминания на долгие годы.
    </p>



    <div class="loyalty-card" style="max-width: 1200px;">

        <ul class="loyalty-levels">
            <li class="bronze-level">
                <h2><strong>100 рублей:</strong></h2>
                <p style="text-align: center; margin: 30px auto;">
                    <img class="clientCardPicture" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnv9m20q81UcsZSSOByNBBKdiay0jMwJAHDSGr6KLfKtRbKH5unur8MYD1jvBIzwjyYeg&usqp=CAU" alt="Карта постоянного клиента">
                </p>
                <p class="defTextWithRedStroke">
                    Задумали сделать прекрасный сюрприз, не выходя за пределы бюджета? Подарочная карта на 100 рублей - идеальное решение! Владелец этой карты сможет выбрать что-то маленькое и миленькое из нашего разнообразного ассортимента. Пусть это будет символом заботы и внимания, который приятно вспоминать каждый день.
                </p>
            </li>
            <li class="silver-level">
                <h2>250 рублей:</h2>
                <p style="text-align: center; margin: 30px auto;">
                    <img class="clientCardPicture" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnv9m20q81UcsZSSOByNBBKdiay0jMwJAHDSGr6KLfKtRbKH5unur8MYD1jvBIzwjyYeg&usqp=CAU" alt="Карта постоянного клиента">
                </p>
                <p class="defTextWithRedStroke">
                    Хотите порадовать своих близких чем-то особенным и стильным? Подарочная карта на 250 рублей позволит выбрать интересные и оригинальные вещи, которые подчеркнут индивидуальность и стиль получателя подарка. Это возможность приобрести что-то по-настоящему уникальное, что подарит радость и удовольствие.
                </p>
            </li>
            <li class="gold-level">
                <h2>1000 рублей:</h2>
                <p style="text-align: center; margin: 30px auto;">
                    <img class="clientCardPicture" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnv9m20q81UcsZSSOByNBBKdiay0jMwJAHDSGr6KLfKtRbKH5unur8MYD1jvBIzwjyYeg&usqp=CAU" alt="Карта постоянного клиента">
                </p>
                <p class="defTextWithRedStroke">
                    Хотите сделать впечатляющий подарок, который запомнится надолго? Подарочная карта на 1000 рублей даст возможность выбрать нечто особенное и дорогое из нашего эксклюзивного ассортимента. Это шанс подарить настоящую роскошь и радость, которая останется в сердце и будет напоминать о вашем внимании и заботе.
                </p>
            </li>


        </ul>
    </div>

    <p class="defTextWithRedStroke">
        Подарочные карты - это отличный выбор для тех, кто хочет сделать подарок по-настоящему ценным и значимым. Дарите возможность выбора и радости, дарите подарочные карты наших магазинов. Пусть каждый ваш подарок станет символом заботы и добрых пожеланий, а наш магазин станет местом, где сбываются мечты и исполняются желания!
    </p>

</div>





{% endblock %}