{% extends 'main/loyaout.html' %}
{% block titleBlock %} Регистрация {% endblock %}
    {% block jsBlock %}
      <script>

      </script>
    {% endblock %}
{% block bodyBlock %}
    <div class="registrationDiv">
        <h2>Регистрация</h2>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Логин" required>{{ form.username.errors }}<br>
            <input type="email" name="email" placeholder="Email" required>{{ form.email.errors }}<br>
            <input type="password" name="password1" placeholder="Пароль" required>{{ form.password1.errors }}<br>
            <input type="password" name="password2" placeholder="Повтор пароля" required>{{ form.password2.errors }}<br>
            <button type="submit">Зарегистрироваться</button>
        </form>
        {% if error|length > 0 %}
            <span> {{ error }} </span>
        {% endif %}

    </div>
{% endblock %}