{% extends 'main/loyaout.html' %}

{% block titleBlock %} Возврат товара {% endblock %}
{% block jsBlock %}

    <script>

    </script>
{% endblock %}
{% block bodyBlock %}



<div class="garantsBlock">
    <h1 class="h1ForTitles">Возврат товара:</h1>
    <p class="defTextWithRedStroke">
        Для возврата товара заполните форму ниже:
    </p>
    <form method="post">
        {% csrf_token %}
            <input type="number" name="item" placeholder="Артикул товара" required min="0" max="99999999"><br>
            <input class="defaultInput" type="text" name="reason" placeholder="Причина возврата" required><br>
        <button type="submit">Отправить запрос</button>
        {% if error_message %}
            <br>{{ error_message }}
        {% endif %}
    </form>


</div>



{% endblock %}