{% extends 'main/loyaout.html' %}

{% block titleBlock %} Возврат товара {% endblock %}
    {% block jsBlock %}

    <script>

    </script>
    {% endblock %}
{% block bodyBlock %}

<div class="garantsBlock">
    <h1 class="h1ForTitles">Возврат товара:</h1>
    <p class="defTextWithRedStroke">
        Уважаемые покупатели,
        мы стремимся обеспечить вас качественными продуктами и высоким уровнем обслуживания. Однако, если по какой-либо причине вы решили вернуть или обменять приобретенный товар, мы готовы помочь вам с этим процессом.
    </p>

    <h3>Условия возврата и обмена</h3>
    <section>
        <h4>1. Сроки возврата</h4>
        <p class="defTextWithRedStroke">Вы можете вернуть товар в течение 30 дней с момента его получения. Пожалуйста, убедитесь, что товар находится в идеальном состоянии, не носился и не имеет следов использования.</p>
    </section>
    <section>
        <h4>2. Полная комплектация</h4>
        <p class="defTextWithRedStroke">Вернуть или обменять товар возможно только при наличии всех его компонентов, этикеток, ярлыков и оригинальной упаковки.</p>
    </section>
    <section>
        <h4>3. Без следов использования</h4>
        <p class="defTextWithRedStroke">Пожалуйста, будьте внимательны и примеряйте товар с учетом его возможного возврата или обмена. Мы не принимаем товары, которые имеют следы использования или повреждения.</p>
    </section>
    <section>
        <h4>4. Интимная одежда и аксессуары</h4>
        <p class="defTextWithRedStroke">В интересах здоровья и гигиены, интимная одежда (например, нижнее белье) и аксессуары для личного использования (например, украшения) не подлежат возврату или обмену, если они были разлеплены от оригинальной упаковки.</p>
    </section>

    <h3>Процедура возврата и обмена</h3>
    <p class="defTextWithRedStroke">Для того чтобы осуществить возврат или обмен товара, пожалуйста, следуйте этим простым шагам:</p>
    <section>
        <h4>1. Свяжитесь с нами</h4>
        <p class="defTextWithRedStroke">Свяжитесь с нашей службой поддержки клиентов, чтобы уведомить о вашем намерении вернуть или обменять товар. Вы можете связаться с нами по телефону или по электронной почте.</p>
    </section>
    <section>
        <h4><a href="{% url 'returnBlank' %}" style="text-decoration: underline;">2. Заполните заявку</a></h4>
        <p class="defTextWithRedStroke">Заполните специальную <a href="{% url 'returnBlank' %}" style="text-decoration: underline;">заявку</a> на возврат или обмен товара. Укажите причину возврата и удостоверьтесь, что все данные указаны верно.</p>
    </section>
    <section>
        <h4>3. Упакуйте товар</h4>
        <p class="defTextWithRedStroke">Пожалуйста, убедитесь, что товар надежно упакован, чтобы избежать его повреждения во время транспортировки.</p>
    </section>
    <section>
        <h4>4. Отправьте товар</h4>
        <p class="defTextWithRedStroke">Отправьте товар обратно по указанному адресу. Рекомендуется использовать службу доставки с отслеживанием для вашего спокойствия.</p>
    </section>
    <section>
        <h4>5. Обработка возврата</h4>
        <p class="defTextWithRedStroke">После получения и проверки возвращенного товара, мы свяжемся с вами для подтверждения возврата или обмена.</p>
    </section>

    <h3>Возврат денежных средств</h3>
    <p class="defTextWithRedStroke">Для того чтобы осуществить возврат или обмен товара, пожалуйста, следуйте этим простым шагам:</p>
    <section>
        <p class="defTextWithRedStroke">Если вы выбираете возврат денежных средств, мы вернем сумму покупки на вашу исходную форму оплаты в течение 5 рабочих дней после подтверждения возврата.</p>
    </section>
    <section>
        <p class="defTextWithRedStroke">Обратите внимание, что стоимость доставки и упаковки не возвращается, за исключением случаев, когда возврат осуществляется из-за нашей ошибки или дефекта товара.</p>
    </section>
    <p class="defTextWithRedStroke">Мы ценим ваше понимание и сотрудничество в процессе возврата или обмена товара. Если у вас возникли вопросы или нужна помощь, наши специалисты по обслуживанию клиентов всегда готовы помочь. Спасибо, что выбрали наш магазин для покупок!</p>

</div>





{% endblock %}