@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

body{
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
}

button:hover {
    transition: all .4s ease;
    color: #eb5959;
    background-color: white;
}

a {
    color: #2c2c2c;
    text-decoration: none;
}
a:hover {
    transition: all .4s ease;
    color: #eb5959;
}
header {
    background: #2c2c2c;
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
}
header div {
    height: 50px;
    border-right: 2px solid #ffffff;
    display: inline-block;
    padding: 10px;
    text-align: center;
    min-width: 66px;
}
header div a {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
header div a:hover {
    color: #eb5959;
    transition: all .4s ease;
}
header .searchDiv {
    width: 70%;
}
header.searchDiv{
    font-size: 24px;
}
header .searchDiv input {
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    margin-right: 5px;
    display: inline-block;
    height: 24px;
    width: 95%;
    font-size: 16px;
    background: #f0f0f0;
    border-radius: 10px 10px 10px 10px;
    border: 0 solid White;
    padding: 1px 1px 1px 20px;
    text-align: left;
}

header .searchDiv input:active{
    transition: all .4s ease;
    transform: scale(1.01);
}


footer {
    border-top: 2px solid #2c2c2c;
    width: 100vw;
    padding: 50px;
    text-align: center;
}

footer .column {
    vertical-align: top;
    display: inline-block;
    margin-right: 20px;
    min-height: 50px;
    width: 15%;
    text-align: left;
}
footer a {
    text-decoration: none;
    color: #2c2c2c;
}
footer a:hover {
    color: #eb5959;
    transition: all .4s ease;
}
footer .title {
    font-size: 20px;
    font-weight: bold;
}
footer .text {
    font-size: 16px;
}
footer .info_card {
    margin-top: 5px;
    display: inline-block;
    width: 86px;
    height: 60px;
    border: 1px solid #2c2c2c;
    border-radius: 5px;
    text-align: center;
}

.main-part {
    padding: 100px;
    min-height: 80vh;
}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.slideshow-container img {
    border-radius: 5px;
    max-height: 500px;
    max-width:  1000px;
    object-fit: cover;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, next:hover {
    transform: scale(1.05);
    transition: 1s;
}

.textOfSlider {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    display: inline-block;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes fade {
    from{opacity: .4}
    to{opacity: 1}
}
@keyframes fade {
    from{opacity: .4}
    to{opacity: 1}
}

.infoCards{
    margin-top: 30px;
    text-align: center;
}

.infoCards .card-info {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.infoCards .card-info:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.infoCards .container {
    padding: 2px 16px;
}

.registrationDiv {
    text-align: center;
}

.registrationDiv input[type=text], input[type=email], input[type=password], input[type=number], select, input[type=file], button{
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: 0;
    width: 200px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

.defaultInput{
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: 0;
    width: 200px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

.registrationDiv input:active{
    transition: all .4s ease;
    transform: scale(1.05);
}

.registrationDiv button {
    background-color: white;
}

.registrationDiv button:hover {
    transition: all .4s ease;
    transform: scale(1.05);
    color: #eb5959;
    background-color: #f8ecec;
}

.productShow {
    display: inline-block;
    max-width: 80%;
}

.searchFilter {
    vertical-align: top;
    max-width: 200px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 20px;
    height: 100%;
}

.searchFilter h2 {
    text-align: center;
    color: #2c2c2c;
}

.searchFilter form {
    display: flex;
    flex-direction: column;
}
.searchFilter input[type="checkbox"], input[type="radio"] {
    margin-right: 5px;
}

.searchFilter label {
    color: #333;
}

.searchFilter input[type="number"] {
    width: 80px;
}



.filter-item {
    margin-bottom: 10px;
    display: inline-block;
}




.card {
    width: 225px;
    min-height: 350px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
}

.card:hover {
  box-shadow: 1px 1px 6px #eb5959;
}

.card__top {
  flex: 0 0 220px;
  position: relative;
  overflow: hidden;
}

.card__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.2s;
}

.card__image:hover > img {
  transform: scale(1.1);
}

.card__label {
  padding: 4px 8px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #ff6633;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.card__bottom {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 10px;
}

.card__prices {
  display: flex;
  margin-bottom: 10px;
  flex: 0 0 50%;
}

.card__price::after {
  content: "₽";
  margin-left: 4px;
  position: relative;
}

.card__price--discount {
  font-weight: 700;
  font-size: 19px;
  color: #414141;
  display: flex;
  flex-wrap: wrap-reverse;
}

.card__price--discount::before {
  content: "Со скидкой";
  font-weight: 400;
  font-size: 13px;
  color: #bfbfbf;
}

.card__price--common {
  font-weight: 400;
  font-size: 17px;
  color: #606060;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.card__price--common::before {
  content: "Обычная";
  font-weight: 400;
  font-size: 13px;
  color: #bfbfbf;
}

.card__title {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #414141;

}

.card__title:hover {
  color: #ff6633;
}

.card__add {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  color: #2c2c2c;
  padding: 10px;
  text-align: center;
  border: 1px solid #2c2c2c;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: auto;
}

.card__add:hover {
  border: 1px solid #ff6633;
  background-color: #ff6633;
  color: #fff;
}

.aboutUsField {
    vertical-align: top;
    display: inline-block;
    width: 48%;
    padding: 15px;
    min-height: 800px;
    margin: 0 auto;

}

.aboutUsField .text {
    text-indent: 20px;
    font-size: 20px;
}

.aboutUsField h1, h2 {
    text-align: center;
}

.peopleBoard {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.personCard {
    vertical-align: top;
    display: inline-block;
    width: 250px;
    height: 350px;
    border-radius: 20px;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 0 3px 1px #2c2c2c;
}

.personCard img {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.personCard img:hover {
    transform: scale(1.05);
    transition: all .4s ease;
}

.personCard .fio {
    font-size: 20px;
    font-weight: bold;
}

.personCard .post {
    font-size: 18px;
}
.personCard .post:hover {
    color: #eb5959;
    transition: all .4s ease;
}

.defTextWithRedStroke {
    font-size: 20px;
    text-indent: 20px;
}

.clientCardPicture {
    border-radius: 20px;
    object-fit: cover;
    width: 300px;
    height: 150px;
}

.clientCardPicture:hover {
    transform: scale(1.05);
    transition: all .4s ease;
}

.loyalty-card {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h1ForTitles {
    text-align: center;
    color: #2c2c2c;
    margin-bottom: 25px;
    font-weight: bold;
}

.loyalty-levels {
    list-style-type: none;
    padding: 0;
}

.loyalty-levels li {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
}



.bronze-level {
    border-left: 5px solid #b77f2e;
}
.bronze-level strong {
    color: #b77f2e;
}

.silver-level {
    border-left: 5px solid #9E9E9E;
}
.silver-level strong {
    color: #9E9E9E;
}

.gold-level {
    border-left: 5px solid #FFD700;
}
.gold-level strong {
    color: #FFD700;
}

.platinum-level {
    border-left: 5px solid #00CED1;
}
.platinum-level strong {
    color: #00CED1;
}

.diamond-level {
    border-left: 5px solid #FF1493;
}
.diamond-level strong {
    color: #FF1493;
}

.aboutItemDiv {
    text-align: center;
}

.aboutItemDiv H1{
    margin-bottom: 20px;
}

.blockForItemInfo {
    vertical-align: top;
    display: inline-block;
    max-width: 45%;
    margin-right: 20px;
}


.blockForItemInfo img {
    max-width: 300px;
    height: 400px;
    object-fit: cover;
    box-shadow: 0 0 3px 1px #2c2c2c;
    border-radius: 20px;
}

.blockForItemInfo img:hover {
    transform: scale(1.05);
    transition: all .4s ease;
    cursor: zoom-in;
}

.divForPrice {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.forDefaultPrice {
    display: inline-block;
    color: #2c2c2c;
}

.forDefaultPriceCrossed {
    display: inline-block;
    text-decoration: line-through;
    color: #2c2c2c;
    text-decoration-thickness: 3px;
}

.divForDiscount {
    display: inline-block;
    color: white;
    background-color: #ff6633;
    padding: 0 4px 0 4px;
    border-radius: 5px;
}
button:hover {
    transition: all .4s ease;
    color: #eb5959;
    background-color: white;
}

.heartButtonActive {
    width: 40px;
    color: #eb5959;
    background-color: white;
}

.heartButtonActive:hover {
    transition: all .4s ease;
    color: #2c2c2c;
    background-color: #e9e9ed;
}

.heartButtonPassive {
    width: 40px;
    color: #2c2c2c;
}

.heartButtonPassive:hover {
    transition: all .4s ease;
    color: #eb5959;
    background-color: white;
}




.reviewBlock {
    border: 2px solid #ccc;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 16px;
    margin: 16px 0;
    box-shadow: 0 0 0px 1px #2c2c2c;
}

.reviewBlock::after {
    content: "";
    clear: both;
    display: table;

}

.reviewBlock img {
    float: left;
    margin-right: 20px;
    object-fit: cover;

}

.reviewBlock img:hover {
    transform: scale(1.05);
    transition: all .4s ease;
}

.reviewBlock span {
    font-size: 20px;
    margin-right: 15px;
    font-weight: bold;
}

.brand-card {
    display: inline-block;
    height: 200px;
    width: 300px;
    box-shadow: 0 0 0px 1px #2c2c2c;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.brand-card img{
    height: 100%;
    width: 100%;
}

.brand-card:hover{
    transform: scale(1.05);
    transition: all .4s ease;
}

.garantsBlock {

}

.garantsBlock h3 {
    margin-top: 10px;
    color: #2c2c2c;
    font-weight: bold;
}

.cart_list_block{
    width: 100%;
}

.cart_item {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 140px;
    padding: 15px;
}
.cart_item img {
    display: inline-block;
    object-fit: cover;
    height: 100%;
    width: 110px;
}

.cart_item img:hover {
    cursor: zoom-in;
    transform: scale(1.05);
    transition: all .4s ease;
}

.cart_item_content {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    margin-right: 10px;
}

.text_for_cart_item_title {
    font-weight: bold;
    font-size: 20px;
}

.cart_item_button {
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-right: 2px;
}

.article_block {
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 140px;
    padding: 15px;
    margin-bottom: 20px;
}

.article_pic {
    display: inline-block;
    object-fit: cover;
    min-height: 300px;
    width: 500px;
}

.item_review_block {
    width: 100%;
    text-align: center;
}

.container_for_reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Дополнительные стили для контейнера, если необходимо */
}
